a{
	box-sizing: border-box;
	text-decoration: none;
}

.link{
   color: #EB7A77;
   padding: 3px 0;
   transition: all 200ms ease-in;
   position: relative;
}

.link:hover {
  transition: all 0.2s ease-in;
}

.link.noc{
	margin-left: 5px;
}

.link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #EB7A77;
  opacity: 0.3;
  height: 12px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: 1;
}

.link:hover:before,
.link:focus:before,
.link:active:before {
  right: 0;
}

.back{
	position: fixed;
	top:5%;
	left: 2.5%;
	color: #EB7A77;
	font-weight: 400;
}

body{
	font-family: 'Lato', sans-serif;
	padding: 8% 10%;
	padding-bottom: 5%;
	font-weight: 300;
	line-height: 1.5rem;
	letter-spacing: 0.3px;
	background-color: #222;
	box-sizing: border-box;
	color: rgba(255,255,255,0.9);
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1em;
}

.project{
	margin: 5vh 0;
	background-color: black;
	padding: 8px;
	box-shadow: 1px 1px 4px 4px rgba(0,0,0,0.1);
}

.text{
	background-color: black;
	color: rgba(255,255,255,0.9);
	padding-top: 10px;
	padding-bottom: 4px;
	text-align: center;
}

figure{
	background: #222;
	overflow: hidden;
	width: 21vw;
	height: 21vw;
    margin: 0;
}

figure:hover{
	bottom: -30px;
	opacity: 1;
}

img.display{
	width: 100%;
	height: 100%;
	filter: grayscale(40%) contrast(90%) brightness(90%);
	transition: 0.8s;
	transform: scale(1);
}

img.display:hover{
    filter: grayscale(0%) contrast(105%) brightness(105%);
    transition: 0.5s;
    transform: scale(1.03);
}

img.detail{
	width: 55vw;
	margin: 2rem;
} 

img.detail.small{
	width: 30vw;
}

img.detail.logo{
	width: 40vw;
}

img.detail.large{
	width: 70vw;
}

img.detail.poster{
	width: 35vw;
}

iframe{
	margin-top: 2em;
}

.heading{
	font-weight: 400;
	font-size: 2.2rem;
	margin-bottom: 3rem;
}

.intro{
	margin: 2em 0;
	width: 70%;
	line-height: 1.8em;
}

.category{
	font-style: italic;
	margin: 1em 0;
	color: #EB7A77;
}

.about{
    margin: 2em 0;
}

.images{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer{
	font-size: 0.8em;
	margin-top: 5%;
	text-align: left;
}
